<div class="panel" style="width: 600px">
    <br/>
    <br/>
    <form name="form" role="form" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select id="category" name="category"
                        class="form-control"
                        ng-model="addFavorCtrl.category"
                        ng-options="category as category.name for category in addFavorCtrl.categories"
                        ng-change="addFavorCtrl.refreshFavors()">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="favor" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <select id="favor" name="category"
                        class="form-control"
                        ng-model="addFavorCtrl.userFavor.favor"
                        ng-options="favor as favor.name for favor in addFavorCtrl.favors"
                        required>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="description" name="description"
                          class="form-control"
                          ng-model="addFavorCtrl.userFavor.description"
                          required>
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default"
                        ng-click="addFavorCtrl.save(form, 'WANT')"
                        ng-disabled="form.$invalid">Add to want-list
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-default"
                        ng-click="addFavorCtrl.save(form, 'CAN')"
                        ng-disabled="form.$invalid">Add to can-list
                </button>
            </div>
        </div>
    </form>
</div>