<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deals</title>
</head>
<body ng-controller="DealCtrl">
<h1>Deals</h1>
<h2>Incoming deals</h2>
<table class="table">
    <thead>
    <tr>
        <th>Who</th>
        <th>User wants</th>
        <th>User offers</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="deal in incomingDeals">
        <td>{{deal.initiator.user.name}}</td>
        <td>{{deal.acceptor.favor.name}}</td>
        <td>{{deal.initiator.favor.name}}</td>
        <td>{{deal.initiator.favor.description}}</td>
        <td ng-if="deal.status == 'PENDING'">
            <button id="acceptButton{{deal.id}}" class="btn" ng-click="acceptDeal(deal.id, $index)">Accept</button>
            <button id="rejectButton{{deal.id}}" class="btn" ng-click="rejectDeal(deal.id, $index)">Reject</button>
        </td>
        <td ng-if="deal.status != 'PENDING'">{{deal.status}}
        </td>
    </tr>
    </tbody>
</table>
<h2>Outgoing deals</h2>
<table class="table">
    <thead>
    <tr>
        <th>Who</th>
        <th>You want</th>
        <th>You offer</th>
        <th>Description</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="deal in outgoingDeals">
        <td>{{deal.acceptor.user.name}}</td>
        <td>{{deal.acceptor.favor.name}}</td>
        <td>{{deal.initiator.favor.name}}</td>
        <td>{{deal.initiator.favor.description}}</td>
        <td>{{deal.date}}</td>
        <td>{{deal.status}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>