<div>
    <div class="container mtb">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="" ng-click="go('/profile')">Home</a></li>
        <li role="presentation"><a href="" ng-click="go('/add-my-favor')">Add new favor</a></li>
        <li role="presentation"><a href="" ng-click="go('/search')">Find a favor</a></li>
        <!--<li role="presentation"><a href="" ng-click="go('/giveFavor')">Give a favor</a></li>-->
    </ul>


    <div class="col-lg-6">

        <div class="list-group">
            <li class="list-group-item list-group-item-info"><center>I CAN</center></li>
            <button ng-repeat="userCan in userCanList" type="button" class="list-group-item">
                <!--<input type="checkbox" name="my-checkbox" data-size="mini" checked>-->
                {{userCan.favor.category.name}} / {{userCan.favor.name}}
            </button>
        </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">

        <div class="list-group">
            <li class="list-group-item list-group-item-success"><center>I WANT</center></li>
            <button ng-repeat="userWant in userWantList" type="button" class="list-group-item">
                <!--<input type="checkbox" name="my-checkbox" data-size="mini" checked>-->
                {{userWant.favor.category.name}} / {{userWant.favor.name}}
            </button>
        </div>
    </div><!-- /.col-lg-6 -->

    </div>
</div>