<div ng-init="userCtrl.getCurrentUser()">
    <div class="container mtb">
        <div class="row ">
            <div class="col-lg-12 centered"><h3>ABOUT ME</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-responsive" src="img/0000001460.jpg" alt="">
            </div>
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-11"><h4>NAME</h4></div>
                            <!--<div class="col-lg-1"><a href="#" ng-click="selectMenu('profile')" class="btn">Edit</a></div>-->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">{{userCtrl.currentUser.name}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"><h4>DESCRIPTION</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">John Christopher "Johnny" Depp II (born June 9, 1963) is an American actor, producer, and musician. He has won the Golden Globe Award and Screen Actors Guild Award for Best Actor. He rose to prominence on the 1980s television series 21 Jump Street, becoming a teen idol. </p></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <! --/row -->
        <br/>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 70%">
                        <span class="sr-only">70% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                        <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                        <span class="sr-only">10% Complete (danger)</span>
                    </div>
                </div>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->

    <div class="container mtb" ng-init="userCtrl.getUserFavor()">
        <div class="row centered">
            <h3 class="mb">SERVICES</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align: right; margin-right: 10px"><a href="#" ng-click="selectMenu('favors')"
                                                                          class="btn">Edit</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">I CAN</h3>
                            </div>
                            <div class="panel-body" style="overflow: auto; height: 300px" ng-repeat="can in userCtrl.userCan">
                                <p>{{can.name}} - {{can.category.name}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">I WANT</h3>
                            </div>
                            <div class="panel-body" style="overflow: auto; height: 300px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <! --/col-lg-3 -->

    </div>
    <! --/row -->
</div>
<! --/container -->


</div>