<!DOCTYPE html>
<br/>
<div class="panel panel-default">
    <div class="row">
        <div class="col-sm-4">
            <uib-tabset active="active" vertical="true">
                <uib-tab index="$index + 1" ng-repeat="category in searchCtrl.categoriesCan">
                    <uib-tab-heading ng-click="searchCtrl.selectCanCategory(category)">
                        <span>{{category.name}}</span>
                    </uib-tab-heading>
                    <div ng-repeat="favor in searchCtrl.favorsCan" class="radio">
                        <label>
                            <input type="radio" name="optradio" ng-click="searchCtrl.selectCanFavor(favor)">
                            {{favor.name}}
                        </label>
                    </div>
                </uib-tab>
            </uib-tabset>
            <br/>
            <br/>
        </div>
        <div class="col-sm-4" ng-show="searchCtrl.showGetFavors">
            <uib-tabset active="active" vertical="true">
                <uib-tab index="$index + 1"
                         ng-repeat="category in searchCtrl.categoriesGet">
                    <uib-tab-heading ng-click="searchCtrl.selectGetCategory(category)">
                        <span>{{category.name}}</span>
                    </uib-tab-heading>
                    <div ng-repeat="favor in searchCtrl.favorsGet" class="checkbox">
                         <label>
                             <input type="checkbox" ng-model="favor.isChecked">
                             {{favor.data.name}}
                         </label>
                    </div>
                </uib-tab>
            </uib-tabset>
            <br/>
            <button type="button" class="btn btn-default"
                    ng-click="searchCtrl.compareFavors()">
                Compare
            </button>
        </div>
        <div class="col-sm-4" ng-show="searchCtrl.showComparison">
            Comparison
            <div class="panel row"
                 ng-repeat="userFavor in searchCtrl.users"
                 style="border: outset">
                <div class="col-xs-6 col-sm-4">
                    <img class="img-responsive" src="img/0000001460.jpg" alt="">
                </div>
                <div class="col-xs-6 col-sm-8">
                    <p>{{userFavor.user.name}}</p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
                <div class="row">
                    <span>{{userFavor.can.name}}</span>
                    <span>{{userFavor.want.name}}</span>
                </div>
            </div>
        </div>
    </div>


</div>
